/** {
box-sizing: border-box;	
}
*/
body {
	display: inline-block;
	margin: 0 auto;
}

header {
	height: 80%;
	border: thin solid black;
	display: block;
	margin: 0 auto;
}
.container {
	border: thin solid black;
	display: flex;
	display: -webkit-flex;
}

.inner {
	border: thin solid black;
	auto-align: center;
}

nav {
	auto-align: center;
	position: fixed;
	flex: 2;
	width: 500px;
	
}

