@font-face {
    font-family: 'super_mario_256regular';
    src: url('supermario-webfont.eot');
    src: url('supermario-webfont.eot?#iefix') format('embedded-opentype'),
         url('supermario-webfont.woff2') format('woff2'),
         url('supermario-webfont.woff') format('woff'),
         url('supermario-webfont.ttf') format('truetype'),
         url('supermario-webfont.svg#super_mario_256regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	background-color: rgba(255, 238, 46, 0.5);
}
body {

    display: block;
    text-align: center;
    font-family: "super_mario_256regular", sans-serif;
    font-size: 30px;
}

header {
	top:2%;
}
.container {
    height: 1000px;
    width: 800px;
    margin: auto;
    display: inline-block;
    text-align: center;
    text-outline: black;
    color: rgba(255, 238, 46, 1);
    -webkit-text-stroke: 1px black;
    font-family: "super_mario_256regular", sans-serif;
    font-size: 50px;

}
img {
	vertical-align: center;
	}



.bar{
	position: fixed;
	width: 100%;
}

li{
	
	display: inline-block;
}
a.hover {
	color: red;
}
footer {
    font-family: "super_mario_256regular".ttf, sans-serif;
    font-size: 20px;
    padding: 2px;
    bottom: 0;
    text-align: center;
}
#pink {
	color: #f575ea;
	font-weight: bold;