@font-face {font-family: Arcade; src: url('supermario.ttf');}
html{
	background-color: rgba(255, 247, 163, 1);
}
body {
    border: thick solid orange;
    display: block;


    text-align: center;
    font-family: supermario.ttf, sans-serif;
    font-size: 30px;
}

header {
	top:2%;
}
.container {
    height: 1000px;
    width: 800px;
    margin: auto;
    display: inline-block;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 30px;

}
img {
	vertical-align: center;
	
}

}
#pink {
	color: rgba(255, 163, 226, 1);
}
.bar{
	position: fixed;
	width: 100%;
}

li{
	
	display: inline-block;
}
a.hover {
	color: red;
}
footer {
    font-family: supermario.ttf, sans-serif;
    font-size: 20px;
    padding: 2px;
    bottom: 0;
    text-align: center;
}